* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #333;
    font-family: din-round,sans-serif;
}

.game {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vmin;
    width: 120vmin;
    display: flex;
    gap: 1vmin;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.right-section {
    background-color: chocolate;
    height: 100%;
    width: 40%;
}

.chess {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chessboard {     
    position: relative;
    background-color: white;
    width: 100%;
    height: 80%;
    border-radius: 2.5%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chessboard .chessboard-square {   
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chessboard > .chessboard-square::before{
    content: "";
    width: 6%;
    height: 6%;
    border-radius: 50%;
    background: #BEC5A3;
    position: absolute;
    opacity: 0.50;
    visibility: hidden;
}

.chessboard > .chessboard-square.move::before{
    visibility: visible;
}

.chessboard .chessboard-square .chessboard-piece {
    width: 80%;
    height: 80%;
}

.chessboard .chessboard-square[color="white"] {
    background-color: #EBECD0;
}

.chessboard .chessboard-square[color="black"] {
    background-color: #779556;
    background-size: cover;
}

.chessboard > .chessboard-square:nth-child(1){
    border-top-left-radius: 20%;
}

.chessboard > .chessboard-square:nth-child(8){
    border-top-right-radius: 20%;
}

.chessboard > .chessboard-square:nth-child(57){
    border-bottom-left-radius: 20%;
}

.chessboard > .chessboard-square:nth-child(64){
    border-bottom-right-radius: 20%;
}



/**************************************/

.winnerDialog {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    visibility: hidden;
}

.dialogcontent {
    position: absolute;
    height: 25vmin;
    width: 45vmin;
    background-color: white;
    border-radius: 20px;
}

.close {
    position: absolute;
    right: 1vmin;
    top: 1vmin;
    font-size: 4vmin;
    padding: 2vmin;
}

.winner {
    position: absolute;
    font-size: 4.5vmin;
    margin-top: 2vmin;
    margin-left: 5vmin;
    top: 5vmin;
}

.btns {
    position: absolute;
    bottom: 2.5vmin;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.btn {
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 2vmin;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 2vmin;
    font-weight: 700;
    letter-spacing: .8px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 2vmin 3vmin;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .btn:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .btn:main,
  .btn:focus {
    user-select: auto;
  }
  
  .btn:hover:not(:disabled) {
    filter: brightness(1.1);
  }
  
  .btn:active {
    border-width: 4px 0 0;
    background: none;
  }

  @media (max-width: 875px) {
    .game {
        height: 70vmin;
        width: auto;
        aspect-ratio: 4 / 3;
    }
}

  @media (max-width: 675px) {
    body {
        height: 90vh;
    }

    .game {
        display: inline-block;
        width: 100%;   
        height: 100%;
        text-align: center;
        margin-top: 2%;
    }

    .chess {
        display: inline-flex;
        width: 95%;
        height: auto;
        aspect-ratio: auto;
        margin-bottom: 3%;
    }

    .chessboard {
        padding-top: 0%;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .right-section {
        display: inline-flex;
        width: 95%;
        height: auto;
        aspect-ratio: 2 / 1;
    } 

    .info {
        display: inline-flex;
        width: 100%;
        height: 10%;
        aspect-ratio: 10 / 1;
    }

    .player-title {
        text-align: left;
    }
}



/*********************************/

.info {
    position: relative; 
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: 2fr 10fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.player-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-row: span 2;
}

.profile {
    background-color: white;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 70%;
    aspect-ratio: 1 / 1;
}

.player-title {
    display: flex;
    align-items: center;
    grid-row: span 2;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    font-family: sans-serif;
}

.killed-pieces {
    display: flex;
}

.killed-pieces {
    width: 20px;
    height: 20px;
}