body {
    background-color: #333;
    font-family: din-round,sans-serif;
}

.chess {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.chessboard {     
    background-color: white;
    height: 560px;
    width: 560px;
    border-radius: 40px;
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
}

.chessboard .chessboard-square {   
    text-align: center;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chessboard > .chessboard-square::before{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #BEC5A3;
    position: absolute;
    opacity: 0.50;
    visibility: hidden;
}

.chessboard > .chessboard-square.move::before{
    visibility: visible;
}

.chessboard .chessboard-square .chessboard-piece {
    width: 55px;
    height: 55px;
}

.chessboard .chessboard-square[color="white"] {
    background-color: #EBECD0;
}

.chessboard .chessboard-square[color="black"] {
    background-color: #779556;
    background-size: cover;
}

.chessboard > .chessboard-square:nth-child(1){
    border-top-left-radius: 25px;
}

.chessboard > .chessboard-square:nth-child(8){
    border-top-right-radius: 25px;
}

.chessboard > .chessboard-square:nth-child(57){
    border-bottom-left-radius: 25px;
}

.chessboard > .chessboard-square:nth-child(64){
    border-bottom-right-radius: 25px;
}



/**************************************/

.winnerDialog {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.348);
    border-radius: 20px;
}

.dialogcontent {
    position: absolute;
    height: 200px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 2rem;
}

.winner {
    position: absolute;
    font-size: 30px;
    margin: 20px;
    top: 30px;
}

.btns {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.btn {
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .btn:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .btn:main,
  .btn:focus {
    user-select: auto;
  }
  
  .btn:hover:not(:disabled) {
    filter: brightness(1.1);
  }
  
  .btn:active {
    border-width: 4px 0 0;
    background: none;
  }